body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  /* width: 100%; */
}

/* header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

:root {
  --header-height: 64px;
}

.home-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 7, 7, 0.475);
}

/* Hide scrollbar in Tailwind */
/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;   
} */


@media screen and (max-width: 300px) {
  .nav-content {
    background: yellow;
    max-width: 300px;
    padding-right: 2px;
  }
  .go-to-top-btn {
    position: fixed;
    right: 70px;
  }


}


@keyframes slideDownFade {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
	}
}

@keyframes slideRightFade {
	from {
		opacity: 0;
		transform: translateX(40px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
  }
}
.hero-content {
	animation: slideDownFade 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.hero-image {
	animation: slideRightFade 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.2s forwards;
}