html, body {
  width: 100vw;
  overflow-x: hidden; /* Prevent horizontal overflow */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  width: 100vw; /* Ensure header is full viewport width */
  overflow-x: hidden;
}

.nav-content {
  max-width: 100vw !important; /* Override max-w-3xl issues if needed */
  padding-left: 1rem; /* Adjust as per your needs */
  padding-right: 1rem;
  box-sizing: border-box;
}

:root {
  --header-height: 64px;
}

.home-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 7, 7, 0.475);
}




@keyframes slideDownFade {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
	}
}

@keyframes slideRightFade {
	from {
		opacity: 0;
		transform: translateX(40px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
  }
}
.hero-content {
	animation: slideDownFade 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.hero-image {
	animation: slideRightFade 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.2s forwards;
}